.upper-layer-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.upper-layer {
	display: flex;
	position: relative;
	flex-direction: column;
	height: 90vh;
	width: 800px;
	margin: 2% 5% 2% 5%;
	align-items: center;
	justify-content: space-between;
	background: rgba(255, 255, 255, 0.29);
	backdrop-filter: blur(7.5px);
	-webkit-backdrop-filter: blur(7.5px);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	z-index: 4;
}
