.light-mode {
  --bg: rgba(255, 255, 255, 0.2);
}

.dark-mode {
  --bg: rgba(0, 0, 0, 0.25);
}

.upper-layer-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.upper-layer {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
  width: 90vw;
  max-width: 1200px;
  margin-top: 63px;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0);
  z-index: 4;
}

.weather-window {
  display: flex;
  position: absolute;
  height: 250px;
  left: 0px;
  right: 0px;
  align-items: center;
  background-color: var(--bg);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 4;
  transition: background-color 0.7s ease-in-out;
}

.location-info-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-between;

  animation: fadeInBottomContainer;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.searchbar,
.weather-window,
.forecast-card-container {
  background-color: var(--bg);
}
