.upper-layer-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.upper-layer {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
  width: 80vw;
  max-width: 900px;
  max-height: 1050px;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.19);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 4;
}

.weather-window {
  display: flex;
  position: absolute;
  height: 200px;
  top: 5px;
  left: 5px;
  right: 5px;
  align-items: center;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 4;
}

.location-info-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-between;

  animation: fadeInBottomContainer;
  animation-duration: 1s;
  animation-fill-mode: both;
}

