.weather-window {
  display: flex;
  position: absolute;
  height: 200px;
  top: 5px;
  left: 5px;
  right: 5px;
  align-items: center;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 4;
}

.location-info-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-between;

  animation: fadeInBottomContainer;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.location-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  margin-left: 20px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.city-name {
  position: relative;
}

.country-name {
  font-weight: 500;
  font-size: 30px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.location-weather-data {
  width: 200px;
  height: 100%;
  max-width: 45%;
  background-color: red;
  opacity: 50%;
  margin-right: 20px;
  bottom: 0px;
}

.fadeInBottomContainer {
  animation-name: fadeInBottomContainer;
}
@keyframes fadeInBottomContainer {
  from {
    transform: translateY(5%);
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 90%);
  }
}

@media screen and (max-width: 768px) {
  .location-info {
    font-size: 26px;
  }
  .country-name {
    font-size: 18px;
  }
}
