.weather-window {
	display: flex;
	position: absolute;
	height: 230px;
	top: 5px;
	left: 5px;
	right: 5px;
	align-items: center;
	background: rgba(255, 255, 255, 0.01);
	backdrop-filter: blur(7.5px);
	-webkit-backdrop-filter: blur(7.5px);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
	border-radius: 15px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	z-index: 4;
}

.weather-data-container {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
	justify-content: space-between;
}

.location-name {
	color: #ffffff;
	font-size: 36px;
	font-weight: 700;
	width: 45%;
	margin-left: 20px;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.location-weather-data {
	width: 200px;
	height: 100%;
	max-width: 45%;
	background-color: red;
	opacity: 50%;
	margin-right: 20px;
	bottom: 0px;
}
