.weather-data-container {
  display: flex;
  overflow: show;
  width: auto;
  margin-right: 25px;
  margin-bottom: 5px;
  flex-direction: row;
  text-align: right;
  justify-content: center;
}

.weather-data {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.temperature {
  font-size: 50px;
  font-weight: 300;
  margin-left: 20px;
}

.weather-description {
  text-align: center;
  font-size: 26px;
  padding: 0px 10px 6px 6px;
}

@media screen and (max-width: 768px) {
  .temperature {
    font-size: 38px;
    margin-left: 10px;
  }
  .weather-description {
    font-size: 18px;
  }
  .weather-icon {
    height: 70px;
  }
}
