.weather-data-container {
	display: flex;
	overflow: auto;
	width: 250px;
	flex-direction: row;
	text-align: right;
	justify-content: center;
}

.weather-data {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	font-weight: 700;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.temperature {
	font-size: 60px;
	font-weight: 300;
	padding-left: 20px;
}

.weather-description {
	text-align: center;
	font-size: 28px;
	padding: 0px 10px 0px 6px;
}
