.weather-data-container {
  display: flex;
  overflow: show;
  width: auto;
  margin-right: 20px;
  flex-direction: row;
  text-align: right;
  justify-content: center;
}

.weather-data {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: end;
  justify-content: space-between;
  font-weight: 700;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.temperature {
  font-size: 40px;
  font-weight: 300;
  margin-left: 20px;
}

.weather-description {
  text-align: right;
  font-size: 26px;
  padding: 0px 0px 6px 6px;
}

img.weather-icon {
  filter: drop-shadow(0px 6px 7px rgba(0, 0, 0, 0.4));
}

@media screen and (max-width: 768px) {
  .temperature {
    font-size: 38px;
    margin-left: 10px;
  }
  .weather-description {
    font-size: 16px;
  }
}
