.loading-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #2a3022;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
