.precipitation-container {
  position: absolute;
  top: -10%;
  width: 100vw;
  height: 110vh;
  z-index: 3;
  opacity: 1;
  overflow: hidden;
}

.precipitation {
  position: absolute;
  border-radius: 50%;
}

@keyframes fall {
  0% {
    top: 0%;
    margin-right: 0px;
  }
  50% {
    margin-right: 100%;
  }
  100% {
    top: 100%;
    margin-right: 0px;
  }
}
