.searchbar-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 80vw;
  max-width: 900px;
  background: rgba(255, 255, 255, 0.19);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 4;
}

.searchbar {
  display: flex;
  align-items: center;
  height: 80%;
  width: 100%;
  margin: 0px 5px 0px 5px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 4;
}

.searchbar input {
  background: none;
  border: none;
  margin-left: 20px;
  height: 100%;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
  font-size: 28px;
  font-weight: 500;
  width: 95%;
}

.searchbar input:focus {
  background: none;
  outline: none;
}

.searchbar input::placeholder {
  color: #dddddd;
  opacity: 80%;
}

.searchbar button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-right: 5px;
  border-radius: 10px;
  font-size: 20px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 2.5);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
}

.searchbar button:hover {
  border-color: white;
}

@media screen and (max-width: 768px){
  .searchbar input {
    font-size: 16px;
  }
  .searchbar button {
    max-width: 80px;
    font-size: 14px;
  }
}
