@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter";
}

html,
body {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: auto;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);

  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

.dynamic-background {
  background-color: #2b3122;
  width: 100vw;
  height: 100vh;
}
