* {
  margin: 0;
  padding: 0;
}

.dynamic-background {
  background-image: url("../../assets/clearday.png");
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
