.forecast-card-container {
  width: 100%;
  height: 100px;
  background-color: brown;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 5;
  margin-bottom: 8px;

  animation: fadeInBottom;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.forecast-card {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.forecast-day {
  font-size: 26px;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 10px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.forecast-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.forecast-description {
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.forecast-icon {
  height: 40px;
}

.forecast-right-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 200px;
  align-items: center;
}

.forecast-right {
  display: grid;
  width: 100%;
  padding-right: 70px;
  text-align: right;
  justify-content: end;
  font-size: 12px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.min-temperature {
  grid-row: 1 / 1;
}

.avg-temperature {
  grid-row: 1 / 1;
}

.max-temperature {
  grid-row: 1 / 1;
}

.forecast-temperature {
  font-size: 28px;
  margin-left: 10px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.fadeInBottom {
  animation-name: fadeInBottom;
}
@keyframes fadeInBottom {
  from {
    transform: translateY(40%);
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@media screen and (max-width: 768px) {
  .forecast-right-container {
    max-width: 160px;
    align-items: end;
    width: 70px;
  }
  .forecast-temperature {
    font-size: 20px;
    margin-left: 2px;
  }
  .forecast-day {
    font-size: 18px;
    width: 85%;
  }
  .min-temperature,
  .max-temperature {
    display: none;
  }
  .forecast-right {
    text-align: right;
    justify-content: end;
    padding-right: 20px;
  }
}
