.forecast-card-container {
  width: 100%;
  height: 100px;
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 4;
  margin-bottom: 8px;

  animation: fadeInBottomCard;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.forecast-card {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.7s ease-in-out;
}

.forecast-day {
  font-size: 26px;
  font-weight: 700;
  margin: 4px 0px 2px 20px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.forecast-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  margin-right: 100px;
}

.forecast-description {
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  line-height: 20px;
  text-align: justify;
}

.forecast-icon {
  height: 40px;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.4));
}

.forecast-right-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 300px;
  align-items: center;
}

.forecast-right {
  display: flex;
  width: 100%;
  text-align: right;
  justify-content: end;
  font-size: 12px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 28px;
}

.min-temperature,
.avg-temperature,
.max-temperature {
  position: absolute;
  top: 25px;
  right: 25px;
}

.avg-temperature {
  right: 125px;
}

.min-temperature {
  right: 225px;
}

.forecast-temperature {
  font-size: 28px;
  margin-left: 10px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.fadeInBottomCard {
  animation-name: fadeInBottomCard;
}
@keyframes fadeInBottomCard {
  from {
    transform: translateY(40%);
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@media screen and (max-width: 768px) {
  .forecast-temperature {
    font-size: 26px;
    margin-left: 2px;
  }
  .forecast-day {
    font-size: 18px;
    width: 85%;
  }
  .forecast-description {
    text-align: left;
  }
  .forecast-left {
    min-width: 220px;
    max-width: 220px;
    margin-right: 0px;
  }
  .min-temperature,
  .max-temperature {
    display: none;
  }
  .avg-temperature {
    right: 25px;
  }
}
